

// Outros estilos globais aqui

.cadastro-produto {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius:  0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(#343a40, 0.15);

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__form {
    .form-group {
      margin-bottom: 1.5rem;
    }

    label {
      display: block;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    .form-control {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #343a40;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        color: #343a40;
        background-color: #fff;
        border-color: lighten(#007bff, 25%);
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(#007bff, 0.25);
      }
    }

    .btn {
      &-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.25rem;

        &:hover {
          color: #fff;
          background-color: darken(#007bff, 10%);
          border-color: darken(#007bff, 10%);
        }
      }
    }
  }
}
